.errorMsg {
    color: red;
    text-align: center;
    font-size: 16px;
}
.am-tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: inherit!important;
}
.am-navbar-dark {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

